
.icon-tag:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-video-1:before { content: '\e804'; } /* '' */
.icon-video-2:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */