.loginForm
{
    background-color: #444444;
    border-radius: 5px;
    border: 1px solid #777777;
    width: 300px;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-size: 14px;
}


input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 50px;
    margin-bottom: 30px;
}
input[type=text]:focus,
input[type=password]:focus
{

    border: 2px solid #b78913;
    background-color: #ffedc1;
    color: #523b11;
}

input[type=submit]
{   font-family: 'Viga', sans-serif;
    width: 300px;
    background-color: #fac113;
    font-size: 20px;
    color: #303030;
    padding: 15px 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

input[type=submit]:hover
{

    background-color: #e9b111;

}
.loginError{
    color: red;
}